@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&display=swap');

*{
    margin: 0;
    padding: 0;
}

body{
    font-size: 12px;
    font-family: "Lora", serif;
    font-optical-sizing: auto;
    font-style: normal;
   
}
.image{
    height: 50px;
}
.power-calculator{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: auto;
  
}
.image-wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    width: auto;
    background-color: #b7d0ae;
    padding-bottom: 8px;
}

.image-wrapper p{
    margin-bottom: -10px;
}

.data-table{
    background-color: #ebebeb;
    display: flex;
    justify-content: center;
    column-gap: 10px;
    flex-wrap: wrap;
    align-items: center;
    border-radius: 5px;
    margin: 5px;
}

input{
    border: none;
    border-radius: 4px;
}

table{
    border-radius: 10px;
    display: flex;
    flex-wrap: wrap;
}

/* table ,tr {
    display: flex;
    flex-wrap: wrap;

} */

table, td {
   padding: 8px;
  }


.designs{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    width: auto;
    background-color: #b7d0ae;
}
.btn-outline-success{
    padding: 4px;
    font-size: 14px;
}

.btn-outline-danger{
    padding: 4px;
    font-size: 14px;
}
.btn-outline-primary{
    padding: 4px;
    font-size: 14px;
}

table,tr, td, input{
    align-items: center;
    justify-content: center;
}

.actualDesign{
    display: flex;
    column-gap: 5px;
}

.calculations{
    font-size: 12px;
}

.dropdown{
    border: none;
    border-radius: 4px;
}